<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./SharedViews/Header.ejs') %>
</head>
<body>
    
    <div class="ui container">
        <div class="ui segment" style="margin-top: 1.56rem;">
            <h1 class="main_heading">Billing And Invoice</h1>
            <a href="/login" class="ui positive button login-btn">Login</a>
        </div>
        
    </div>
</body>
</html>