<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./SharedViews/Header.ejs') %>
</head>
<body>
    
    <div class="ui container">
        <div class="ui segment" style="margin-top: 1.56rem;">
            <h1 class="main_heading">Billing And Invoice</h1>
            <a href="/login" class="ui positive button login-btn">Login</a>
        </div>

        <div class="ui stacked segment">
            <h3>
                Dependencies used
            </h3>
            <ol>
                <li>
                    express
                </li>
                <li>
                    mongoose
                </li>
                <li>
                    ejs
                </li>
                <li>
                    dotenv
                </li>
                <li>
                    bcrypt 
                </li>
                <li>
                    cookie-session
                </li>
                <li>
                    easyinvoice 
                </li>
                <li>
                    passport
                </li>
                <li>
                    passport-google-oauth2
                </li>
                <li>
                    passport-local
                </li>
            </ol>

            <h5>
                Authentication - both local startergy and google OAuth 2 is used to authenticate.
            </h5>
    
            <h5>
                Password is hashed using bcrypt
            </h5>

            To run on local must include 
            <ul>
                <li>
                    google client ID
                </li>
                <li>
                    google secret
                </li>
                <li>
                    mongodb uri
                </li>
            </ul>

            <h5>
                MVC - architecture is followed
            </h5>
            <h5>
                Semantic UI library is used for css
            </h5>
            <h5>
                Validation is done using jquery
            </h5>

            <img src="/demo.png" alt="demo-image" class="ui fuild image" />
        </div>
    </div>
</body>
</html>